@inherits BlazorComponentStateful<Tiles>

<section class="@Class">
    <SortingAndSearch Class="@ShowIf(Loaded)"
                      Count="@State.FilteredAndSortedTiles.Count"
                      OnSearch="@OnSearch"
                      OnSortOrder="@OnSortOrder"
                      OnSortProperty="@OnSortProperty"
                      SearchText="@State.SearchText"
                      SortOrder="@State.SortOrder"
                      SortProperty="@State.SortProperty"/>

    <p></p>

    @if (TagCloudExists())
    {
        <div class="tagCloud callout text-center">
            <ul>
                @{ var sortedTagCloud = from entry in State.TagCloud orderby entry.Key select entry; }

                @foreach (var tag in sortedTagCloud.Where(pair => pair.Value > 1))
                {
                    <li>
                        <a class="@("size" + (tag.Value <= 6 ? tag.Value : 6))" @onclick="() => OnSearch(tag.Key)">@tag.Key.ToLower()</a>
                    </li>
                }
            </ul>
        </div>
    }

    <div class="callout warning emphasize radius @ShowIf(Empty)">Empty!</div>

    <div class="masonry-css @ShowIf(Any)">
        @foreach (var item in State!.FilteredAndSortedTiles)
        {
            <div class="masonry-css-item auto">
                <Tile OpenGraphMetadata="@item"></Tile>
            </div>
        }
    </div>
</section>