@using OpenGraphTilemaker

<div>
    @DateTime.UtcNow.ToFriendlyDate(),
    @DateTime.UtcNow.AddMinutes(-1).ToFriendlyDate(),
    @DateTime.UtcNow.AddMinutes(-2).ToFriendlyDate(),
    @DateTime.UtcNow.AddMinutes(-60).ToFriendlyDate(),
    @DateTime.UtcNow.AddMinutes(-120).ToFriendlyDate(),
    @DateTime.UtcNow.AddDays(-1).ToFriendlyDate(),
    @DateTime.UtcNow.AddDays(-7).ToFriendlyDate(),
    @DateTime.UtcNow.AddDays(-30).ToFriendlyDate(),
</div>

