@inherits TilesXModel;

@{ var columns = 3; }

<div>
    <a href="#" class="btn btn-primary" onclick="@OnSortPropertyButtonClick">Sort Property</a>
    <a href="#" class="btn btn-primary" onclick="@OnSortOrderButtonClick">Sort Order</a>
    @AppState.SortProperty, @AppState.SortOrder, @AppState.TileCount
</div>

<p></p>

<div class="container">
    <div class="row no-gutters">
        <div class="col">
            @for (var index = 0; index < Data.Count; index += columns) {
                var item = Data[index];
                <TileX OpenGraphMetadata="@item"></TileX>
            }
        </div>
        <div class="col">
            @for (var index = 1; index < Data.Count; index += columns) {
                var item = Data[index];
                <TileX OpenGraphMetadata="@item"></TileX>
            }
        </div>
        <div class="col">
            @for (var index = 2; index < Data.Count; index += columns) {
                var item = Data[index];
                <TileX OpenGraphMetadata="@item"></TileX>
            }
        </div>
    </div>
</div>