@inherits TilesModel;

@* @for (var index = 0; index < Urls.Count; index+=3) { *@
@*     var item = Urls[index]; *@
@*         <Tile Url="@item.Link"></Tile> *@
@* } *@

<div class="container">
    <div class="row no-gutters">
        <div class="col">
            @for (var index = 0; index < Urls.Count; index += 3) {
                var item = Urls[index];
                <Tile Url="@item.Link"></Tile>
            }
        </div>
        <div class="col">
            @for (var index = 1; index < Urls.Count; index += 3) {
                var item = Urls[index];
                <Tile Url="@item.Link"></Tile>
            }
        </div>
        <div class="col">
            @for (var index = 2; index < Urls.Count; index += 3) {
                var item = Urls[index];
                <Tile Url="@item.Link"></Tile>
            }
        </div>
    </div>
</div>


@* <div>@Urls.Skip(1).First().Link</div> *@
@* <Tile Url="@Urls.Skip(1).First().Link"></Tile> *@