@inherits TilesModel;
<fieldset class="callout" style="padding-bottom: 0; padding-top: 0;">
    <legend>
        <small style="padding: 0 .5em 0 .5em;">@State.SortProperty @State.SortOrder, Count @State.CurrentTiles.Count</small>
    </legend>

    <div class="grid-x">
        <div class="cell large-6">
            <button class="button primary" onclick="@OnSortPropertyButtonClick">Sort Property</button>
            <button class="button primary" onclick="@OnSortOrderButtonClick">Sort Order</button>
        </div>
        <div class="cell large-6">
            <div class="input-group">
                <span class="input-group-label">
                    <i class="fi-page-search"></i>
                </span>
                <input class="input-group-field" type="text" bind="@State.SearchText"/>
                <div class="input-group-button">
                    <input type="submit" class="button" value="Search" placeholder="search value" onclick="@OnSearchButtonClick"/>
                </div>
            </div>
        </div>
    </div>

</fieldset>

<p></p>

<div class="masonry-css">
    @{
        for (var index = 0; index < State.CurrentTiles.Count; index += 1) {
            var item = State.CurrentTiles[index];
            <div class="masonry-css-item auto">
                <Tile OpenGraphMetadata="@item"></Tile>
            </div>
        }
    }
</div>