@using Common
@inherits TilesModel;

<div class="@ShowIf(() => OriginalTiles != null && OriginalTiles.Any())">
    <SortingAndSearch ref="SortComponent"
                      Count="@State.CurrentTiles.Count"
                      OnSearch="@((Action<string>)OnSearch)"
                      OnSortOrder="@((Action<SortOrder>)OnSortOrder)"
                      OnSortProperty="@((Action<string>)OnSortProperty)"
                      SearchText="@State.SearchText"
                      SortOrder="@State.SortOrder"
                      SortProperty="@State.SortProperty"/>
</div>

<p></p>

<div class="callout warning emphasize radius @ShowIf(Empty)">Empty!</div>

<div class="masonry-css @ShowIf(Any)">

    @foreach (var item in State.CurrentTiles) {
        <div class="masonry-css-item auto">
            <Tile OpenGraphMetadata="@item"></Tile>
        </div>
    }

</div>