@using Common
@inherits TilesModel;

<section class="@Class">
    <SortingAndSearch Class="@ShowIf(Loaded)" Ref="SortComponent"
                      Count="@State.CurrentTiles.Count"
                      OnSearch="@((Func<string, Task>)OnSearch)"
                      OnSortOrder="@((Func<SortOrder, Task>)OnSortOrder)"
                      OnSortProperty="@((Func<string, Task>)OnSortProperty)"
                      SearchText="@State.SearchText"
                      SortOrder="@State.SortOrder"
                      SortProperty="@State.SortProperty"/>

    <p></p>

    <div class="callout warning emphasize radius @ShowIf(Empty)">Empty!</div>

    <div class="masonry-css @ShowIf(Any)">

        @foreach (var item in State.CurrentTiles) {
            <div class="masonry-css-item auto">
                <Tile OpenGraphMetadata="@item"></Tile>
            </div>
        }

    </div>
</section>