@inherits TilesModel;

<fieldset class="tiles-title">
    <legend>
        <small>@State.SortProperty @State.SortOrder, Count @State.CurrentTiles.Count</small>
    </legend>

    <div class="grid-x">
        <div class="cell large-6">
            <button class="button primary" onclick="@OnSortProperty">Sort Property</button>
            <button class="button primary" onclick="@OnSortOrder">Sort Order</button>
        </div>
        <div class="cell large-6">
            <div class="input-group">
                <span class="input-group-label">
                    <i class="fi-page-search"></i>
                </span>
                <input class="input-group-field" type="text" bind="@State.SearchText"/>
                <div class="input-group-button">
                    <input type="submit" class="button" value="Search" placeholder="search value" onclick="@OnSearch"/>
                </div>
            </div>
        </div>
    </div>

</fieldset>

<p></p>

<div class="callout success emphasize radius @ShowIf(Loading)">Loading...</div>

<div class="callout warning emphasize radius @HideIf(Empty)">Empty!</div>

<div class="masonry-css @ShowIf(Any)">

    @foreach (var item in State.CurrentTiles) {
        <div class="masonry-css-item auto">
            <Tile OpenGraphMetadata="@item"></Tile>
        </div>
    }

</div>