@page "/form"
@inherits FormModel

@{
    RenderFragment successText = @<span>Success! You've done it.</span>;
}

<h1>Form</h1>

<div class="@SuccessVisibility">
    <h4 class="text success">@successText</h4>
</div>

<div class="@ErrorVisibility">
    <ValidationSummary class="text alert" Subject="@Person" TItem="Person"/>
</div>

<div class="@FormVisibility">
    <p>
        <label for="firstname">First Name
            <input id="firstname" type="text" class="@IsValid(() => Person.FirstName)" bind="@Person.FirstName"/>
        </label>
        <ValidationError class="text alert" Subject="@Person" Property="@nameof(Person.FirstName)" TItem="Person"/>
    </p>
    <p>
        <label for="lastname">Last Name
            <input id="lastname" type="text" class="@IsValid(() => Person.LastName)" bind="@Person.LastName"/>
        </label>
        <ValidationError class="text alert"  Subject="@Person" Property="@nameof(Person.LastName)" TItem="Person"/>
    </p>
    <p>
        <label for="age">Age</label>
        <input id="age" type="number" class="@IsValid(() => Person.Age)" bind="@Person.Age"/>
        <small class="text secondary">We'll never share your age with anyone else.</small>
        <ValidationError Class="text alert" Subject="@Person" Property="@nameof(Person.Age)" TItem="Person"/>
    </p>

    <hr/>

    <button type="submit" class="button primary" onclick="@(async () => await SubmitAsync())">Submit</button>
</div>