@page "/cryptowatch"
@using Common.Extensions
@using Microsoft.Extensions.Options
@inherits CryptoWatchModel
@inject IOptions<CryptoWatchOptions> CryptoWatchOptions

<h1>CryptoWatch <small>ApiKey: @CryptoWatchOptions.Value.ApiKey.TruncateAtWord(5)</small></h1>

<div class="grid-x grid-padding-x">
    <div class="cell small-3"><CryptoWatchCard Data="@Card1"></CryptoWatchCard></div>
    <div class="cell small-3"><CryptoWatchCard Data="@Card2"></CryptoWatchCard></div>
    <div class="cell small-3"><CryptoWatchCard Data="@Card3"></CryptoWatchCard></div>
    <div class="cell small-3"><CryptoWatchCard Data="@Card4"></CryptoWatchCard></div>
</div>